<!-- landing -->
<div class="container-fluid " style="padding: 0;">
    <!-- banner -->
    <app-banner [title]="'Therapy for Families'"
        [subtitle]="'Discover healing at Phoenix Psychological Services in Chennai. Expert psychotherapist offering personalized online and offline therapy for a balanced and resilient life. '"></app-banner>
    <!-- banner -->

    <!-- landing-body -->
    <div class="row g-0 customContainer">
        <div class="col-md-5 landingImageMobile">
            <img src="../assets/img/individual-1.png" class="img-fluid rounded-start" alt="header">
        </div>
        <div class="col-md-7">
            <h1 class="card-title" style="font-size: 2.5rem;">Individual Counseling</h1>
            <p class="card-text para-text"><strong>&#64;Chennai</strong></p>
            <p class="para-text">In an Individual Counseling session, we <strong>listen completely</strong> and provide
                a
                safe, confidential space for clients to vent out , and explore their thoughts, feelings, and behaviors
                without
                any judgement. The process begins with an initial assessment to understand the client's background and
                goals.
                Building a trusting therapeutic relationship is crucial, allowing for open communication and empathy .
                Then we
                help our clients to understand their core issues, identify specific patterns, intense negative emotions,
                and
                help them to develop coping strategies accordingly. <strong>Cognitive restructuring</strong> is one
                technique
                used to change negative thought patterns, while emotional processing aids in expressing and
                understanding
                emotions. We use an <strong>eclectic approach</strong> to help the clients based on their needs and
                issues.
                Homework assignments and regular progress reviews are done to ensure the application of their learned
                skills.
                The therapy concludes with preparation for termination(end of therapy) and potential follow-up sessions,
                all
                while maintaining strict <strong>confidentiality</strong> and <strong>ethical practice</strong>.</p>
        </div>
        <div class="col-md-5 landingImageDesktop">
            <img src="../assets/img/individual-1.png" class="img-fluid rounded-start" alt="header">
        </div>
    </div>
    <!-- landing-body -->
</div>
<!-- landing -->

<!-- What Happens -->
<div class="container" style="max-width: 90%; padding: 1%;">
    <h4><strong style="color: black;">What happens in one on one counselling? 🤔</strong></h4>
    <p class="para-text">
        Individual therapy, or one-on-one counseling, involves working with a therapist to address personal
        psychological,
        behavioral, emotional, or psychosomatic issues and improve overall mental health. It begins with taking the
        client's case history and an initial assessment to create a personalized treatment plan. Regular sessions
        follow,
        where the client discusses their thoughts and feelings. The therapist uses an eclectic approach, incorporating
        techniques like CBT, REBT, psychodynamic therapy, and hypnotherapy, to tailor the treatment to the client's
        specific needs and goals. Confidential and non-judgmental discussions help the client develop co <!-- <div class="card mb-3 main-bg-color header " style=" border: none; padding-top: 2%; ">
            <div class="container" style="max-width: 100%; padding: 6%;">
                <div class="banner">
                    <div
                        style="text-align: center;background: #fbd9ac21;border-radius: 50px;padding-top: 15px;padding-bottom: 15px;">
                        <h1>Individual Counselling Services <strong>&#64;Chennai</strong></h1>
                        <p class="para-text">
                            Discover healing at Phoenix Psychological Services in Chennai. Expert psychotherapist offering
                            personalized online and offline therapy for a balanced and resilient life.
                        </p>
                    </div>
                </div>
            </div>
        </div> -->ping strategies
        and self-awareness. Progress is reviewed weekly to ensure the therapy remains effective. Therapy can be
        short-term
        or long-term, aiming to enhance the client's mental health, relationships, and personal growth.
    </p>
</div>
<!-- What Happens -->

<!-- Benefits -->
<div class="container" style="max-width: 90%; padding: 1%;">
    <h4>
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
            <path fill="#c8e6c9" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path>
            <path fill="#4caf50"
                d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z">
            </path>
        </svg>
        <strong style="color: black;">Benefits of Individual Counselling:</strong>
    </h4>
    <div style="padding: 1%;">
        <p class="para-text">Individual counseling offers numerous benefits, including <strong>personalized
                therapy</strong> tailored to
            your specific needs and goals. It provides a <strong>safe</strong> and <strong>confidential space</strong>
            to
            explore your thoughts, feelings, and behaviors, helping you gain <strong>self-awareness</strong> and insight
            into underlying issues. Counseling can improve communication skills, enhance emotional regulation, and
            develop
            effective coping strategies for managing stress, anxiety, and other mental health concerns. It also fosters
            <strong>personal growth </strong>personal growth, empowers you to make healthier choices, and promotes
            overall
            well-being by addressing and resolving personal challenges.
        </p>
        <ul>
            <li>
                <p class="para-text">Personalized Therapy 🛋️</p>
            </li>
            <li>
                <p class=" para-text">Safe and Confidential Space to Vent Out 🔒🗣️</p>
            </li>
            <li>
                <p class="para-text">Gain Self-awareness 🧠💡</p>
            </li>
            <li>
                <p class=" para-text">Foster Personal Growth 🌱🚀</p>
            </li>
        </ul>
    </div>
</div>
<!-- Benefits -->

<!-- Book Appointment -->
<div class="container" style="text-align: center; padding: 1%">
    <button style="
        background-color: #e27a11 !important;
        border-radius: 5px;
        font-size: 17px;
        font-family: 'Source Sans Pro', sans-serif;
        padding: 6px 18px;
        color: white;
        border: none;"> <!-- Added cursor style -->
        <!-- Calendly link widget begin -->
        <a style="text-decoration: none; color: white; cursor: pointer;" (click)="openPopup()">
            Book Appointment
        </a>
        <!-- Calendly link widget end -->
    </button>
</div>
<!-- Book Appointment -->
<!-- Frequently Asked Questions  -->
<div class="container" style="max-width: 80%;">
    <h1 style="text-align: center;"><b>Frequently Asked Questions</b></h1>
    <div class="text-center mt-5">
        <div class="t1">
            <p class="d-inline-flex gap-1">
                <button style="border: 2px solid #bbd5b9; border-radius: 15px;" class="btn mt-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#t1" aria-expanded="false" aria-controls="t1">
                    <b style="color: #e27a11;"><i class="bi bi-box-arrow-down"></i></b> What Happens During One On One
                    Individual Therapy Counseling In Chennai?
                </button>
            </p>
            <div class="collapse" id="t1">
                <div style="background-color: #c2d9c1; border: 2px dotted green;" class="card card-body">
                    <p>
                        If you have selection for a specific consultant, this may escalate the time you have to wait for
                        your first appointment. The total time required is approximately 90 minutes, including
                        completing
                        computer forms, treatment time, and arranging follow-up appointments, so be sure how to keep
                        this in
                        mind when planning your work.
                        It would be great if you come early to allow enough time to complete the required forms.
                        Documents
                        cover a human and clinical history form, a medical agreement, a medical permit, and a
                        notification
                        of privacy practices. Your doctor will find information about your current concerns, relevant
                        history, and goals.
                    </p>
                </div>
            </div>
        </div>
        <div class="t2">
            <p class="d-inline-flex gap-1">
                <button style="border: 2px solid #bbd5b9; border-radius: 15px;" class="btn mt-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#t2" aria-expanded="false" aria-controls="t2">
                    <b style="color: #e27a11;"><i class="bi bi-box-arrow-down"></i></b>What Happens During One-Time
                    Individual Therapy In Chennai?
                </button>
            </p>
            <div class="collapse" id="t2">
                <div style="background-color: #c2d9c1; border: 2px dotted green;" class="card card-body">
                    <p>
                        It would be best if you arrived early to allow enough time to complete the required forms.
                        Documents
                        include a human and clinical history form, a medical agreement, a medical permit, and a
                        notification
                        of privacy practices. Your doctor will find information about your current concerns, relevant
                        history, and goals.
                    </p>
                </div>
            </div>
        </div>
        <div class="t3">
            <p class="d-inline-flex gap-1">
                <button style="border: 2px solid #bbd5b9; border-radius: 15px;" class="btn mt-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#t3" aria-expanded="false" aria-controls="t3">
                    <b style="color: #e27a11;"><i class="bi bi-box-arrow-down"></i></b>What happens in the future when
                    you participate in Individual Counseling services?
                </button>
            </p>
            <div class="collapse" id="t3">
                <div style="background-color: #c2d9c1; border: 2px dotted green;" class="card card-body">
                    <p>
                        At subsequent, you will meet with your advisor for approximately 45 minutes, scheduled according
                        to the accept schedule. If you would like additional advice than what we can offer you, we will
                        work with you to find a doctor in the local community. At first, you will work with your doctor
                        to set goals for your counseling sessions. Open guidance to your counseling experience will hang
                        on the problems you bring to counseling, your doctor's perspective, and the goals you set for
                        your work together.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Frequently Asked Questions -->