<!-- navigation -->
<nav class="navbar main-bg-color">
    <div class="container navMainContainer">
        <div class="container-fluid navSubContainer">
            <div class="row align-items-start">
                <div class="col-2">
                    <a class="navbar-brand" href="./index.html" style="padding-right: 5%;">
                        <img src="./assets/img/logo.png" class="logo" alt="logo">
                    </a>
                    <button style="font-size: 11px;
            width: 11rem;
            border: none;
            background-color: #bbd5b9;"><b>MSME=UDYAM-MH-27-0041103</b></button>
                </div>
                <div class="col-9" style="padding-top: 3%;">
                    <div class="row navItems">
                        <div class="col">
                            <ul style="list-style: none;">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <b style="color: black;">Our service's</b>
                                    </a>
                                    <ul class="dropdown-menu" style="background-color: #bbd5b9;">
                                        <li><a class="dropdown-item" href="./services/individualcounseling"><b>1.
                                                </b>Individual
                                                counseling</a></li>
                                        <li><a class="dropdown-item" href="./services/couplecounseling"><b>2.
                                                </b>Couple
                                                counseling</a></li>
                                        <li><a class="dropdown-item" href="./services/familytherapy.html"><b>3.
                                                </b>Family therapy</a>
                                        </li>
                                        <li><a class="dropdown-item" href="./services/adolescentcounseling.html"><b>4.
                                                </b>Adolescent
                                                counseling</a></li>
                                        <li><a class="dropdown-item" href="./services/grouptherapy.html"><b>5. </b>Group
                                                therapy</a></li>
                                        <li><a class="dropdown-item" href="./services/hypnotherapy.html"><b>6.
                                                </b>Hypnotherapy</a></li>
                                        <li><a class="dropdown-item" href="./services/epa.html"><b>7. </b>Corporate
                                                wellness program
                                                (EAP)</a></li>
                                        <li><a class="dropdown-item" href="./services/trainingsandworkshops.html"><b>8.
                                                </b>Training and
                                                workshops</a></li>
                                        <li><a class="dropdown-item" href="./services/mentalhealthadvocacy.html"><b>9.
                                                </b>Mental health
                                                advocacy</a></li>
                                        <li><a class="dropdown-item" href="./services/onlinecounseling.html"><b>10.
                                                </b>Online
                                                counseling</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col" style="text-align: right;">
                            <button style="background-color: #e27a11!important;
              border-radius: 5px;
              font-size: 17px;
              font-family: 'Source Sans Pro', sans-serif;
              padding: 6px 18px;
              color: white;
              border: none;">
                                <!-- Calendly link widget begin -->
                                <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                                <script src="https://assets.calendly.com/assets/external/widget.js"
                                    type="text/javascript" async></script>
                                <a style="text-decoration:none; color:white;" href=""
                                    onclick='Calendly.initPopupWidget({url: "https://calendly.com/uma_phoenix_counselling"});return false;'>Book
                                    Appointment</a>
                                <!-- Calendly link widget end -->
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-1 burgerCol">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- sideBar -->
    <div class="offcanvas offcanvas-end main-bg-color" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel" style="border-radius: 20px;padding: 35px;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                <img src="./assets/img/logo.png" alt="logo" style="width: 8rem; height: auto;">
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <!-- <a class="nav-link active" aria-current="page" href="./uc.html"><b>Home</b></a> -->
                    <a class="nav-link" aria-current="page" href="/"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./about"><b>About Us</b></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <b>Our service's</b>
                    </a>
                    <ul class="dropdown-menu" style="background-color: #bbd5b9;">
                        <li><a class="dropdown-item" href="./services/individualcounseling"><b>1. </b>Individual
                                counseling</a></li>
                        <li><a class="dropdown-item" href="./services/couplecounseling"><b>2. </b>Couple
                                counseling</a></li>
                        <li><a class="dropdown-item" href="./services/familytherapy.html"><b>3. </b>Family therapy</a>
                        </li>
                        <li><a class="dropdown-item" href="./services/adolescentcounseling.html"><b>4. </b>Adolescent
                                counseling</a></li>
                        <li><a class="dropdown-item" href="./services/grouptherapy.html"><b>5. </b>Group therapy</a>
                        </li>
                        <li><a class="dropdown-item" href="./services/hypnotherapy.html"><b>6. </b>Hypnotherapy</a></li>
                        <li><a class="dropdown-item" href="./services/epa.html"><b>7. </b>Corporate wellness program
                                (EAP)</a>
                        </li>
                        <li><a class="dropdown-item" href="./services/trainingsandworkshops.html"><b>8. </b>Training and
                                workshops</a></li>
                        <li><a class="dropdown-item" href="./services/mentalhealthadvocacy.html"><b>9. </b>Mental health
                                advocacy</a></li>
                        <li><a class="dropdown-item" href="./services/onlinecounseling.html"><b>10. </b>Online
                                counseling</a></li>
                    </ul>
                <li><a class="nav-link" href="https://blog.phoenixcounselling.in/"><b>Blog</b></a></li>
            </ul>
        </div>
    </div>
    <!-- sideBar -->
</nav>
<!-- navigation -->