<!-- about -->
<div class="container-fluid aboutme">
    <!-- banner -->
    <div class="container" style="max-width: 100%; padding-top: 4%;">
        <div class="banner">
            <div
                style="text-align: center;background: #fbd9ac21;border-radius: 50px;padding-top: 15px;padding-bottom: 15px;">
                <h1>
                    Best Therapist In Chennai
                </h1>
                <p>Experience healing at Phoenix Psychological Services, Chennai. Our expert psychotherapist offers
                    personalized online and offline therapy for a balanced and resilient life. <i><b> Your well-being
                            matters!
                            🌟🌈</b></i></p>
            </div>
        </div>
    </div>
    <div>
        <!-- banner -->
        <div>
            <img src="assets/img/woman.png" alt="" style="
      width: 10rem;
      z-index: 1;
      position: absolute;
      right: 0;
      top:20.5rem;">
        </div>
        <div class="card mb-3 aboutcard">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="assets/img/uma.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="background-color: transparent;">
                        <!-- <h5 class="card-title"><b><i>Uma Maheswari</i></b></h5> -->
                        <h1><b><i>Uma Maheswari</i></b></h1>
                        <p><i>Psychological Counselor and Cognitive Hypnotic Psychotherapist</i></p>
                        <p class="para-text">🌟 Hello, I'm <strong>Uma Maheswari</strong>, a Certified Psychological
                            Counselor and
                            Cognitive Hypnotic Psychotherapist based in Chennai, India. Passionate about your mental
                            well-being.
                        </p>
                        <hr>
                        <p>🌈 <b>Journey to Psychology:</b>
                            From a young age, my curiosity about the evolution of life and human development led me to
                            psychology.
                            Now, with both professional and personal experiences, I help individuals gain insight and
                            inner
                            strength.</p>

                        <p>💼 <b>Holistic Expertise:</b>
                            Specialized in CBT, Hypnotherapy, and various modalities, I adopt an integrative approach to
                            empower my
                            clients. Together, we navigate challenges, promote healing, and foster personal growth.</p>

                        <p>🌺 <b>Centering You for Positive Change:</b>
                            My mission is to guide you to center yourself, make informed decisions, take charge of your
                            emotions,
                            and cultivate confidence at work. Together, we create meaningful relationships, fostering
                            self-acceptance and love.</p>

                        <p>🌱 <b>Discover Your True Potential:</b>
                            Let's embark on a journey to uncover your true potential, embracing both strengths and
                            flaws. From a
                            place of self-love and acceptance, transformative change becomes possible. Release the need
                            to please
                            others and embrace the joy of being yourself!</p>

                        <p>Ready to embark on this transformative journey? Let's work together to create positive
                            changes in your
                            life.</p>
                        <p class="card-text"><small class="text-muted"><b>Last updated:</b> [2 Min]</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about -->