<!-- landing -->
<div class="container-fluid " style="padding: 0;">
    <!-- banner -->
    <app-banner [title]="'Adolescence Counselling'"
        [subtitle]="'Adolescence counseling in Chennai is a specialized service that recognizes the unique challenges and transitions that adolescents face during this crucial phase of life. It provides a safe and supportive environment for young individuals to explore their emotions, develop coping strategies, and build essential life skills.'"></app-banner>
    <!-- banner -->
    <!-- landing-body -->
    <div class="row g-0 customContainer">
        <div class="col-md-5 landingImageMobile">
            <img src="../assets/img/communite.png" class="img-fluid rounded-start" alt="header">
        </div>
        <div class="col-md-7">
            <h1 class="card-title" style="font-size: 2.5rem;">Adolescence Counselling</h1>
            <p class="card-text para-text"><strong>&#64;Chennai</strong></p>
            <p class="para-text">
                Adolescent counseling is a specialized form of therapy aimed at helping teenagers navigate the unique
                challenges they face during their developmental years. This counseling focuses on addressing issues such
                as identity formation, peer pressure, academic stress, family dynamics, and emotional regulation. By
                providing a safe and supportive environment,we help teens develop coping strategies, improve
                communication skills, and build resilience. The goal is to empower adolescents to manage their emotions,
                make informed decisions, and build healthy relationships, ultimately fostering their overall mental and
                emotional well-being.
            </p>
        </div>
        <div class="col-md-5 landingImageDesktop">
            <img src="../assets/img/communite.png" class="img-fluid rounded-start" alt="header">
        </div>
    </div>
    <!-- landing-body -->
</div>
<!-- landing -->

<!-- What Happens -->
<div class="container" style="max-width: 90%; padding: 1%;">
    <h4><strong style="color: black;">What happens in adolescent counselling? 🤔</strong></h4>
    <p class="para-text">
        Adolescent counseling involves creating a safe, supportive environment where teenagers can openly discuss their
        thoughts and feelings. During sessions, we help teens explore issues related to identity, peer relationships,
        family dynamics, academic pressures, and emotional regulation. The process includes active listening,
        exploration and validation of their thoughts and emotions, guidance in developing coping strategies to handle
        their issues. We use techniques such as cognitive-behavioral therapy, role-playing, mindfulness, NLP,
        Hypnotherapy and goal setting to empower adolescents to manage stress, improve communication skills, problem
        solving and build resilience. The aim is to support teens in navigating their challenges, fostering their
        overall mental and emotional well-being, and promoting healthy development.
    </p>
</div>
<!-- What Happens -->

<!-- Benefits -->
<div class="container" style="max-width: 90%; padding: 1%;">
    <h4>
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
            <path fill="#c8e6c9" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path>
            <path fill="#4caf50"
                d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z">
            </path>
        </svg>
        <strong style="color: black;">Benefits of Couples Counselling:</strong>
    </h4>
    <div style="padding: 1%;">

        <p class="para-text">Adolescent counseling offers a multitude of benefits, guiding teenagers through the
            complexities of their developmental years. It enhances self-awareness and emotional regulation, providing
            teens with tools to manage intense emotions and mood swings. By improving communication skills, teens can
            better express themselves and foster healthier relationships with peers and family. Counseling also equips
            them with practical coping strategies for stress and anxiety, supports positive identity formation, and
            promotes long-term mental health. Additionally, it builds resilience and problem-solving skills, potentially
            improving academic performance and nurturing healthy relationships. Overall, adolescent counseling empowers
            teenagers to thrive emotionally, mentally, and socially, laying a strong foundation for their future
            well-being.</p>
    </div>
</div>
<!-- Benefits -->

<!-- Book Appointment -->
<div class="container" style="text-align: center; padding: 1%">
    <button style="
        background-color: #e27a11 !important;
        border-radius: 5px;
        font-size: 17px;
        font-family: 'Source Sans Pro', sans-serif;
        padding: 6px 18px;
        color: white;
        border: none;"> <!-- Added cursor style -->
        <!-- Calendly link widget begin -->
        <a style="text-decoration: none; color: white; cursor: pointer;" (click)="openPopup()">
            Book Appointment
        </a>
        <!-- Calendly link widget end -->
    </button>
</div>
<!-- Book Appointment -->
<!-- Frequently Asked Questions  -->
<div class="container text-center mt-5">
    <h1 style="text-align: center;"><b>Frequently Asked Questions</b></h1>
    <div class="t1">
        <p class="d-inline-flex gap-1">
            <button style="border: 2px solid #bbd5b9; border-radius: 15px;" class="btn mt-2" type="button"
                data-bs-toggle="collapse" data-bs-target="#t1" aria-expanded="false" aria-controls="t1">
                <b style="color: #e27a11;"><i class="bi bi-box-arrow-down"></i></b> What is the
                typical duration of adolescent counseling?
            </button>
        </p>
        <div class="collapse" id="t1">
            <div style="background-color: #c2d9c1; border: 2px dotted green;" class="card card-body">
                <p>
                    The duration of counseling varies depending on the individual's needs and progress.
                    Some may benefit from short-term interventions, while others with more complex
                    issues might require longer-term support.
                </p>
            </div>
        </div>
    </div>
    <div class="t2">
        <p class="d-inline-flex gap-1">
            <button style="border: 2px solid #bbd5b9; border-radius: 15px;" class="btn mt-2" type="button"
                data-bs-toggle="collapse" data-bs-target="#t2" aria-expanded="false" aria-controls="t2">
                <b style="color: #e27a11;"><i class="bi bi-box-arrow-down"></i></b>Is adolescent
                counseling confidential?
            </button>
        </p>
        <div class="collapse" id="t2">
            <div style="background-color: #c2d9c1; border: 2px dotted green;" class="card card-body">
                <p>
                    Yes, adolescent counseling is confidential. However, there are legal and ethical
                    exceptions where the counselor may need to disclose information, such as if the
                    adolescent is at risk of harm to themselves or others.
                </p>
            </div>
        </div>
    </div>
    <div class="t3">
        <p class="d-inline-flex gap-1">
            <button style="border: 2px solid #bbd5b9; border-radius: 15px;" class="btn mt-2" type="button"
                data-bs-toggle="collapse" data-bs-target="#t3" aria-expanded="false" aria-controls="t3">
                <b style="color: #e27a11;"><i class="bi bi-box-arrow-down"></i></b>How can I tell if
                my teenager needs counseling?
            </button>
        </p>
        <div class="collapse" id="t3">
            <div style="background-color: #c2d9c1; border: 2px dotted green;" class="card card-body">
                <p>
                    Look for signs like sudden changes in behavior, declining school performance,
                    withdrawal from social activities, or expressions of persistent sadness or anxiety.
                    If you notice any of these, it may be beneficial to seek professional guidance.
                </p>
            </div>
        </div>
    </div>

    <div class="t4">
        <p class="d-inline-flex gap-1">
            <button style="border: 2px solid #bbd5b9; border-radius: 15px;" class="btn mt-2" type="button"
                data-bs-toggle="collapse" data-bs-target="#t4" aria-expanded="false" aria-controls="t4">
                <b style="color: #e27a11;"><i class="bi bi-box-arrow-down"></i></b>What types of
                issues can adolescent counseling address?
            </button>
        </p>
        <div class="collapse" id="t4">
            <div style="background-color: #c2d9c1; border: 2px dotted green;" class="card card-body">
                <p>
                    Adolescent counseling can address a wide range of issues, including anxiety,
                    depression, academic stress, peer relationships, family conflicts, self-esteem, and
                    behavior problems. Counselors tailor their approach to the specific needs of the
                    teenager.
                </p>
            </div>
        </div>
    </div>

    <div class="t5">
        <p class="d-inline-flex gap-1">
            <button style="border: 2px solid #bbd5b9; border-radius: 15px;" class="btn mt-2" type="button"
                data-bs-toggle="collapse" data-bs-target="#t5" aria-expanded="false" aria-controls="t5">
                <b style="color: #e27a11;"><i class="bi bi-box-arrow-down"></i></b>Can parents be
                involved in the counseling process?
            </button>
        </p>
        <div class="collapse" id="t5">
            <div style="background-color: #c2d9c1; border: 2px dotted green;" class="card card-body">
                <p>
                    Yes, parents can be involved in the counseling process. In many cases, family
                    sessions can be valuable for improving communication and addressing issues within
                    the family dynamics, but the level of involvement depends on the teenager's
                    preferences and circumstances.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Frequently Asked Questions -->