<div class="card mb-3 main-bg-color header" style="border: none; padding-top: 2%;">
    <div class="container" style="max-width: 100%; padding: 6%;">
        <div class="banner">
            <div style="background: backgroundColor; border-radius: 50px; padding-top: 15px; padding-bottom: 15px"
                style="text-align: center;">
                <h1>{{ title }} <strong>at Chennai</strong></h1>
                <p class="para-text">{{ subtitle }}</p>
            </div>
        </div>
    </div>
</div>