<!-- landing -->
<div class="container-fluid " style="padding: 0;">
    <div class="card mb-3 main-bg-color header " style=" border: none; padding-top: 2%; ">
        <!-- banner -->
        <div class="container" style="max-width: 100%; padding: 6%;">
            <div class="banner">
                <div
                    style="text-align: center;background: #fbd9ac21;border-radius: 50px;padding-top: 15px;padding-bottom: 15px;">
                    <h1>
                        Top Therapists in Chennai to Support Your Emotional Well-Being
                    </h1>
                    <p class="para-text">At Phoenix Psychological Services, we offer expert care through personalized
                        online and offline therapy. Achieve a balanced and resilient life because your well-being
                        matters to us!🌟🌈</p>
                </div>
            </div>
        </div>
        <!-- banner -->
        <div class="row g-0 customContainer">
            <div class="col-md-5 landingImageMobile">
                <img src="assets/img/uma.jpeg" class="img-fluid rounded-start" alt="header">
            </div>
            <div class="col-md-7">
                <div>
                    <h1 class="card-title" style="font-size: 2.5rem;"> Psychological Counselor at Chennai</h1>
                    <p class="card-text para-text">🌟 Hello, I'm <b>Uma Maheswari</b>, Certified Psychological
                        Counselor, Therapist, and Cognitive Hypnotic Psychotherapist based in Chennai, India. I am
                        deeply committed to supporting your mental well-being and helping you lead a healthier, happier
                        life.

                    </p>
                    <hr style="color: rgb(44, 112, 44);">
                    <p>🚀 Led by an experienced therapist, we offer expert mental health services from individual
                        counselling to
                        family therapy. Our Phoenix provides a secure space for healing and growth.</p>
                    <p>🌈 Specialized in adolescent and relationship counselling, psychotherapy, and hypnotherapy, We
                        use an
                        eclectic approach with various techniques for lasting transformation</p>
                    <p>🌺 Committed to holistic health, customized personal counselling, affordable, comfortable, and
                        solution-oriented online and offline counselling.</p>
                    <p>🌍 Join us in fostering healthier lives, by improving productivity, and enhancing your mental
                        well-being
                        through our professional counselling and guidance. Take the first step to a healthier, happier
                        life at
                        Phoenix Psychological Services.</p>
                    <p>Confidentiality🔒 | Secure🛡️ | Safe Space🌈 | Vent Out💬</p>

                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    <button onclick="window.location.href = 'about';" class="customButton">Read More</button>
                </div>
            </div>
            <div class="col-md-5 landingImageDesktop">
                <img src="assets/img/uma.jpeg" class="img-fluid rounded-start" alt="header">
            </div>
        </div>
    </div>
</div>
<!-- landing -->

<!-- young people -->
<div class="container youngPeople">
    <div class="card customCard">
        <div class="card-body">
            <div class="row" style="align-items: center; padding: 40px;">
                <div class="col-6">
                    <h2>
                        <b>
                            Empowering young minds for better future
                        </b>
                    </h2>
                    <p class="para-text">A transformative counselling journey, fostering self-discovery, resilience, and
                        confidence. We navigate challenges through tailored guidance and open dialogue, we unlock
                        potential,
                        instill coping skills, and nurture a positive mindset 🌈🌟. </p>
                    <button style="background-color: #e27a11!important;
          border-radius: 5px;
          font-size: 17px;
          font-family: 'Source Sans Pro', sans-serif;
          padding: 6px 18px;
          color: white;
          border: none;">
                        <!-- Calendly link widget begin -->
                        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"
                            async></script>
                        <a style="text-decoration:none; color:white;" href=""
                            onclick="Calendly.initPopupWidget({url: 'https://calendly.com/uma_phoenix_counselling'});return false;">Book
                            Appointment</a>
                        <!-- Calendly link widget end -->
                    </button>
                </div>
                <div class="col-6">
                    <img class="youngPeopleImg" src="./assets/img/playboy.png" alt="" width="85%" height="auto">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- young people -->

<!-- count -->
<div class="container text-center" style="max-width: 80%;">
    <div id="top-footer 4-col" style="    background-color: #c1d9c0; padding: 12px; border-radius: 20px;">
        <div class="section-container deskpad">
            <div class="row">
                <div class="col-md-3">
                    <div class="ft-col border-right">
                        <div class="row icon-content-wrap">
                            <div class="top-footer-icon">
                                <i class="bi count bi-gear"></i>
                            </div>
                            <div class="top-footer-content">
                                <h4>1000+</h4>
                                <p>FRUITFULL SESSIONS</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ft-col border-right">
                        <div class="row icon-content-wrap">
                            <div class="top-footer-icon">
                                <i class="bi count bi-star"></i>
                            </div>
                            <div class="top-footer-content">
                                <h4>3+</h4>
                                <p>YEARS</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ft-col border-right">
                        <div class="row icon-content-wrap">
                            <div class="top-footer-icon">
                                <i class="bi count bi-clipboard-data"></i>
                            </div>
                            <div class="top-footer-content">
                                <h4>50+</h4>
                                <p>TRAINING &amp; WORKSHOP SESSIONS</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ft-col">
                        <div class="row icon-content-wrap">
                            <div class="top-footer-icon">
                                <i class="bi count bi-hand-thumbs-up"></i>
                            </div>
                            <div class="top-footer-content">
                                <h4>200+</h4>
                                <p>SATISFIED CLIENTS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- count -->

<!-- workFlow -->
<div class="container howWeWorkBase">
    <div class="text-center" style="padding-top: 5%;">
        <h3><b>How we work</b></h3>
    </div>
    <div class="stepper-wrapper">
        <div class="stepper-item completed">
            <div class="step-counter" style="background: #e27a11;color: white;">1</div>
            <div class="step-name">
                <p>Discovery call</p>
            </div>
        </div>
        <div class="stepper-item completed">
            <div class="step-counter" style="background: #e27a11;color: white;">2</div>
            <div class="step-name">
                <p>Book Appointment</p>
            </div>
        </div>
        <div class="stepper-item completed">
            <div class="step-counter" style="background: #e27a11;color: white;">3</div>
            <div class="step-name">
                <p>Session</p>
            </div>
        </div>
        <div class="stepper-item">
            <div style="background: #e27a11;color: white;" class="step-counter">4</div>
            <div class="step-name">
                <p>Review & Follow-up</p>
            </div>
        </div>
    </div>
</div>
<!-- workFlow -->

<!-- cards -->
<div class="container" style="max-width: 80%;">
    <div class="row" style="padding-top: 5%;">
        <div class="text-center">
            <h4><b>What we do <br> For You</b></h4>
        </div>
        <div class="col-sm-4">
            <div class="card customCard">
                <div class="card-body" style="padding: 35px;padding-bottom: 5px;">
                    <h3><b>Individual Counselling</b></h3>
                    <img src="./assets/img/individual-1.png" alt="" style="width: 86%; height: auto; padding-top: 8%;">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card customCard">
                <div class="card-body" style="padding: 35px;padding-bottom: 0;">
                    <h3><b>Family therapy</b></h3>
                    <!-- <h3><b>Counselling</b></h3>  -->
                    <img src="./assets/img/family.png" alt="" style="width: 80%; height: auto; padding-top: 15%;">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card customCard">
                <div class="card-body" style="padding: 35px;padding-bottom: 0;">
                    <h3><b>Adolescent Counselling</b></h3>
                    <img src="./assets/img/communite.png" alt="" style="width: 100%; height: auto; padding-top: 30%;">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card customCard">
                <div class="card-body" style="padding: 35px;padding-bottom: 0;">
                    <h3><b>Corporate wellness program (EAP)</b></h3>
                    <!-- <h3><b>Hypnotherapy</b></h3> -->
                    <img src="./assets/img/eap.png" alt="" style="width: 80%; height: auto; padding-top: 16%;">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card customCard">
                <div class="card-body" style="padding: 35px;padding-bottom: 0;">
                    <h3><b>Mental health advocacy</b></h3>
                    <img src="./assets/img/mha.png" alt="" style="width: 64%; height: auto; padding-top: 33%;">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card customCard">
                <div class="card-body" style="padding: 35px;padding-bottom: 0;">
                    <h3><b>Workshops & </b></h3>
                    <h3><b>Training</b></h3>
                    <img src="./assets/img/group.png" alt="" style="width: 85%; height: auto; padding-top: 0%;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cards -->

<!-- Testimonial Start -->
<div class="container" style="max-width: 80%;">
    <div class="section-header text-center">
        <h2>Client Reviews</h2>
    </div>
    <div class="testimonial wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <!-- The Elfsight widget will be inserted here -->
            <div class="elfsight-app-1bbea81d-e5b9-4391-a01e-c516660365fd"></div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

<!-- Testimonial End -->

<!-- Frequently Asked Questions  -->
<div class="container" style="max-width: 80%;">
    <h1 style="text-align: center;"><b>Frequently Asked Questions</b></h1>
    <div class="text-center mt-5">
        <!-- t1 -->
        <div class="t1">
            <p class="d-inline-flex gap-1">
                <button style="border: 2px solid #bbd5b9; border-radius: 15px;" class="btn mt-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#t1" aria-expanded="false" aria-controls="t1">
                    <b style="color: #e27a11;"><i class="bi bi-box-arrow-down"></i></b> What issues can a psychological
                    counselor or therapist in Chennai help with?
                </button>
            </p>
            <div class="collapse" id="t1">
                <div style="background-color: #c2d9c1; border: 2px dotted green;" class="card card-body">
                    <p>
                        Therapists can assist with anxiety, depression, stress management, relationship challenges,
                        trauma, phobias, grief, self-esteem issues, and more.
                    </p>
                </div>
            </div>
        </div>
        <!-- t2 -->
        <div class="t1">
            <p class="d-inline-flex gap-1">
                <button style="border: 2px solid #bbd5b9; border-radius: 15px;" class="btn mt-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#t2" aria-expanded="false" aria-controls="t2">
                    <b style="color: #e27a11;"><i class="bi bi-box-arrow-down"></i></b>How do I know if I need therapy?
                </button>
            </p>
            <div class="collapse" id="t2">
                <div style="background-color: #c2d9c1; border: 2px dotted green;" class="card card-body">
                    <p>
                        If you’re feeling overwhelmed, stuck, or struggling to cope with emotions or daily life, therapy
                        can provide tools and support to improve your mental well-being.
                    </p>
                </div>
            </div>
        </div>
        <!-- t3 -->
        <div class="t1">
            <p class="d-inline-flex gap-1">
                <button style="border: 2px solid #bbd5b9; border-radius: 15px;" class="btn mt-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#t3" aria-expanded="false" aria-controls="t3">
                    <b style="color: #e27a11;"><i class="bi bi-box-arrow-down"></i></b>What should I expect during my
                    first session?
                </button>
            </p>
            <div class="collapse" id="t3">
                <div style="background-color: #c2d9c1; border: 2px dotted green;" class="card card-body">
                    <p>
                        Your first session typically involves discussing your concerns, goals for therapy, and creating
                        a personalized plan tailored to your needs.
                    </p>
                </div>
            </div>
        </div>
        <!-- t4 -->
        <div class="t1">
            <p class="d-inline-flex gap-1">
                <button style="border: 2px solid #bbd5b9; border-radius: 15px;" class="btn mt-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#t4" aria-expanded="false" aria-controls="t4">
                    <b style="color: #e27a11;"><i class="bi bi-box-arrow-down"></i></b>Are sessions confidential?
                </button>
            </p>
            <div class="collapse" id="t4">
                <div style="background-color: #c2d9c1; border: 2px dotted green;" class="card card-body">
                    <p>
                        Yes, therapy and counselling sessions are confidential. Exceptions may apply if there’s a risk
                        of harm to yourself or others, as per professional ethics and legal obligations.
                    </p>
                </div>
            </div>
        </div>
        <!-- t5 -->
        <div class="t1">
            <p class="d-inline-flex gap-1">
                <button style="border: 2px solid #bbd5b9; border-radius: 15px;" class="btn mt-2" type="button"
                    data-bs-toggle="collapse" data-bs-target="#t5" aria-expanded="false" aria-controls="t5">
                    <b style="color: #e27a11;"><i class="bi bi-box-arrow-down"></i></b>Do phoenix psychological service
                    offer online sessions?
                </button>
            </p>
            <div class="collapse" id="t5">
                <div style="background-color: #c2d9c1; border: 2px dotted green;" class="card card-body">
                    <p>
                        Many therapists provide both online and offline sessions to accommodate your preferences and
                        ensure flexibility.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>