<footer id="footer">
    <div class="text-center">
        <img src="assets/img/logo.png" class="logo" alt="logo"><br><br>
        <h2><b><u>Contact Us</u></b></h2>
        <p>
            <a style="text-decoration: none; font-weight: 500;color: black;" href="tel:+91 9643448705"><i
                    style="color: #e27a11;" class="bi bi-telephone-fill"></i>+91 9643448705</a>
            <a style="text-decoration: none; font-weight: 500;color: black;" href="tel:+91 9867605239"><i
                    style="color: #e27a11;" class="bi bi-telephone-fill"></i>+91 9867605239</a>
            <a style="text-decoration: none; font-weight: 500;color: black;"
                href="mailto:phoenixforcounselling@gmail.com"><i style="color: #e27a11;"
                    class="bi bi-envelope-fill"></i>
                phoenixforcounselling&#64;gmail.com
            </a>
        </p>
        <h6>Square Spaces- Business centre,<br>
            Paneer Nagar, Mogappair East, Chennai,<br> Tamil Nadu-
            600037.</h6>
        <a href="https://www.facebook.com/Mrs-Uma-Maheswari-Psychological-Counselor-and-Therapist-112902650512713/"><i
                style="color: #e27a11; font-size: 30px;" class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/phoenix_psychological_therapy/"><i style="color: #e27a11; font-size: 30px;"
                class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/uma-maheswari-71356b52/"><i style="color: #e27a11; font-size: 30px;"
                class="bi bi-linkedin"></i></a>
    </div>
    <img src="assets/img/footer.png" alt="footerImg" style="width: 100%; height: auto;">
</footer>